@media screen and (min-width: 560px) {
    .get-early-access {
        bottom: -150px;
    }

    .footer-wrapper {
        padding-top: 150px;
    }

    .get-early-access>div:nth-child(3) {
        display: flex;
        flex-direction: row;
    }

    .get-early-access .button {
        min-width: 200px;
        width: 200px;
    }

    .get-early-access input[type=text] {
        margin: 0;
        margin-right: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .top-header .logo-wrapper img{
        width: 100%;    
    }
    
    .top-header {
        padding: 40px 80px 0px
    }

    .menu li {
        margin: 30px;
    }
    .middle-header {
        margin-left: 30%;
        margin-right: 30%;
    }

    .advantages-section {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        margin-left: var(--page-sides-padding-desktop);
        margin-right:var(--page-sides-padding-desktop);
    }

    .advantage {
        width: 40%;
    }

    .stay-productive-section {
        display: flex;
        flex-direction: row;
        margin: 80px 10%;
        align-items: center;
    }

    .stay-productive-section .image-wrapper {
        margin-right: 30px;
    }


}