* {
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    margin: 0;
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    font-weight: var(--weight-thin);
    color: var(--neutral-white);
}

.heading {
    font-weight: var(--weight-bold);
    font-family: var(--font-family-heading);

}

.text {
    color: var(--neutral-gray);
}

.header-wrapper {
    background-color: var(--primary-dark-blue-intro);
    /* padding: var(--page-top-bottom-padding-mobile) 
            var(--page-sides-padding-mobile)
            120px; */
    position: relative;
    background-image: url(./assets/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 60%;
}

.header-wrapper > * {
    z-index: 100;
}

.header-wrapper::after {
    content: "";
    width: 100%;
    height: 33%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: var(--primary-dark-blue-main-bg);
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-wrapper {
    background-color: var(--primary-dark-blue-main-bg);
}

.top-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-top: var(--page-top-bottom-padding-mobile);
    padding-left: var(--page-top-bottom-padding-mobile);
    padding-right: var(--page-top-bottom-padding-mobile);
}

.top-header .logo-wrapper img{
    width: 6em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 8px;
}

.menu a:link, .menu a:visited {
    color: var(--neutral-gray);
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
    color: var(--neutral-white);
}

.middle-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: var(--page-sides-padding-mobile);
    margin-right: var(--page-sides-padding-mobile);
    margin-bottom: 60px;
    
    /* for z index */
    position: relative;
}

.middle-header .image-wrapper img {
    width: 100%;
}

.middle-header .heading{
    font-size: x-large;
    margin-top: 30px;
}

.middle-header .text {
    padding: 30px 15px;
}

.middle-header .button:link,.middle-header .button:visited {
    background-color: var(--blue-cta-gradient);
    color: var(--neutral-white);
    border-radius: 25px;
    padding: 10px 70px;
    text-decoration: none;
}

.middle-header .button:hover{
    background-color: var(--cyan-cta-gradient);
}

/* sections */

.sections-wrapper {
    padding: 50px var(--page-sides-padding-mobile);
}

.section-wrapper .heading {
    font-size: large;
}

.advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;
}

.advantage .image-wrapper {
    margin: 15px;
}

.advantage .heading {
    margin: 10px;
}

/* stay productive */

.stay-productive-section {
    display: flex;
    flex-direction: column;
    margin: 150px 0px;
}

.stay-productive-section .heading {
    margin: 10px;
}

.stay-productive-section .image-wrapper {
    margin-bottom: 30px;
}

.stay-productive-section .image-wrapper img {
    width: 100%;
}

.stay-productive-section .link:link, .stay-productive-section .link:visited {
    width: fit-content;
    text-decoration: none;
    color: var(--blue-cta-gradient);
    position: relative;
    flex-shrink: 1;
    margin-top: 15px;
}

.stay-productive-section .link:after {
    content: "";
    background: var(--blue-cta-gradient);
    width: 100%;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    bottom: -7px;
    left: 0;
}

.stay-productive-section .link:hover {
    color: var(--neutral-white);
}
.stay-productive-section .link:hover:after {
    background-color: var(--neutral-white);
}
.stay-productive-section .link svg {
    margin-left: 5px;
}


/* clients testimonials  */

.client-testimonials-section {
    background-image: url(./assets/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.client-testimonial {
    padding: 25px 10px;
    background-color: var(--primary-dark-blue-testimonials-bg);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 25px 0px;
    padding: 25px;
}

.client-testimonial .text {
    line-height: 2em;
}

.personal-info {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.personal-info img {
    border-radius: 50%;
    width: 40px;
}

.personal-info .image-wrapper {
    margin-right: 10px;
}

.personal-info div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.personal-info .first-name {
    font-weight: var(--weight-bold);
    font-family: var(--font-family-heading);
    margin-bottom: 5px;
}

.personal-info .position {
    font-size: small;
    color: var(--neutral-gray);
    
}


/* get early access today  */

.get-early-access {
    display: flex;
    flex-direction: column;
    padding: 50px 35px;
    border-radius: 10px;
    background-color: var(--primary-dark-blue-intro);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.get-early-access .heading {
    font-size: large;
}

.get-early-access .text {
    margin: 30px 0px;
}

.get-early-access input[type=text]{
    border-radius: 25px;
    text-indent: 25px;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    border: none;
}
.get-early-access input[type=text]:focus{
    outline: none;
}

.get-early-access .button {
    border: none;

    width: 100%;
    height: 50px;
    border-radius: 25px;

    font-size: large;
    font-weight: var(--weight-bold);
    font-family: var(--font-family-heading);
    color: white;
    
    background-color: var(--blue-cta-gradient);
}

.get-early-access .button:hover {
    background-color: var(--cyan-cta-gradient);
}